// Place all the styles related to the messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body  {
    
    background-color: #cccccc;;
}
a:link { 
  color: #9966FF;
}

a:hover { 
  color: green;
}
a:active { 
  color: #990033;
}